.SearchResults{
    width: 50%;
    height: 600px;
    margin: auto;
    overflow: scroll;
}

.Search h1{
    text-align: center;
}

@media screen and (max-width:900px){
    .SearchResults{
        width: 90%;
    }
}