.SearchResults{
    width: 40%;
    height: 600px;
    margin: auto;
    overflow: scroll;
    background-color: rgba(245, 245, 220, 0.2);
    border-radius: 10px;
}

.Search h1{
    text-align: center;
    font-family: 'Alice', serif;
    color: azure
}

@media screen and (max-width:900px){
    .SearchResults{
        width: 80%;
    }
}