body{
  background-image: url('./background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
}

.App-header{
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin: 10px;
}

.logo{
  max-width: 5em;
  height: auto;
}
.user{
  width: auto;
  height: 35px;
  color: blanchedalmond;
}
