.title{
    text-align: center;
    padding-top: 10px;
}

.Profil{
    width: 60%;
    height: 150px;
    margin: auto; 
    margin-top: 20px;
    background-color: #FCEFD8;
    border-radius: 20px;
    box-shadow: 2.5px 2.5px 2.5px burlywood;
}

.passport{
    display: flex;
    justify-content: center;
    margin-top: -15px ;
}

.firstline{
    display: flex;
    justify-content: space-around;
}

.charlise{
    width:90px;
   height:90px;
   padding-right: 20px;
}
